.box {
	background-image: url('../img/4.JPG');
	background-position: center center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.boximg {
	position: relative;
	width: 300px;
	height: 500px;
	overflow: hidden;
}

.boximg img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 500px;
	object-fit: cover;
}